<div class="nav-scroller py-1 mb-2" >
  <nav class="nav d-flex justify-content-between">
    <a class="p-2 text-muted" routerLink="" routerLinkActive="active" >Home</a>
    <a class="p-2 text-muted" routerLink="/registration" routerLinkActive="active">Registration</a>
    <a class="p-2 text-muted" routerLink="/login"  routerLinkActive="active">Login</a>
    <a class="p-2 text-muted" routerLink="/products" *ngIf="isLoggedIn$" routerLinkActive="active">Products</a>
    <button (click)="onLogout()" *ngIf="isLoggedIn$" class="btn-danger">LogOut</button>
  </nav>
</div>
