<h2>REGISTRATION</h2>
<form [formGroup]="registerGroup" (ngSubmit)="onSubmit()">
  <div class="form-group center">
    <label for="exampleInputEmail1">Email</label>
    <input type="email" class="form-control" formControlName="email" required placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" formControlName="password" required placeholder="Enter Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Name</label>
    <input type="text" class="form-control" formControlName="name" placeholder="Enter Full Name">
  </div>
  <button type="submit" [disabled]="!registerGroup.valid" class="btn btn-primary">Registration</button>
</form>

