<h2>REGISTRATION</h2>
<form [formGroup]="registerGroup" (ngSubmit)="onSubmit()">
  <div class="form-group center">
    <mat-form-field>
      <mat-label>Email/UserName</mat-label>
      <input matInput placeholder="test@test.com"  formControlName="email" required type="email">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" required type="password">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="name" >
    </mat-form-field>
  </div>
  <button type="submit" [disabled]="!registerGroup.valid" mat-raised-button color="primary">Registration</button>
</form>

